.file {
    width: 380px;
    height: 325px;
    border: 3px dashed #0034BB;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;

    h3 {
        text-decoration: underline;
    }

    h4 {
        margin-top: 0.5em;
    }
}

.input {
    width: 500px;
    border: 3px solid #0034BB;
    border-radius: 22px;
    padding: 5px 15px;
}

.custom {
    color: #000;

    h3 {
        margin-bottom: 10px;
    }

    p {
        color: #7C7C7C;
        font-size: 14px;
    }

    label{
        font-weight: bold;
    }
}