.form {

    input {
        background: #fff;
        outline: none;
        border: 3px solid #0034BB;
        border-radius: 17px;
        margin: 1em 0;
        padding: 5px 15px;
    }

    input[type="text"],
    input[type="number"] {
        width: 80%
    }

    label{
        margin-right: 5px;
        font-size: 13px;
    }

    .referral {
        display: flex;
        align-items: center;

        input {
            margin: 1em;
        }

        p {
            font-size: 14px;
            color: #9F9F9F
        }
    }

    .select {
        border: 3px solid #0034BB;
        border-radius: 20px;
        color: #0034BB;
        font-weight: bold;
        padding: 5px 15px;
        margin: 1em 0;
    }

    option{
        font-weight: bold;
    }

    .paragraph{
        color: #BDBDBD;
        font-weight: 600;
        margin: 0.5em 0;
    }

    .note{
        width: 80%;
        height: 150px;
        border: 3px solid #0034BB;
        border-radius: 14px;
        padding: 10px 12px;
        font-size: 14px;
    }
}